body {
  height: 5000px;
}
.left {
  width: 50%;
  background-color: purple;
}
.right {
  width: 50%;
  background-color: green;
}
.relative {
  background-color: lightblue;
  height: 250px;
  padding: 30px;
  margin: 10px;
  display: flex;
  position:relative;
  font-size: 18px;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
.absolute {
  height: 150px;
  width: 150px;
  background-color: red;
  color: white;
  position: absolute;
  bottom: 0;
  right:0;
}
.fixed {
  height: 200px;
  width: 200px;
  border-radius: 6px;
  background-color: green;
  position: fixed;
  bottom: 0px;
  right: 0;
  font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  font-size: 18px;
  color:white;
  padding: 10px;
}
